In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from espn_api.baseball import League
from draft_scraper import get_draft_strategy
# Init
league = League(league_id=55646, year=2023, swid = '{8F5C0C75-0EC6-4CD4-9C0C-750EC64CD455}',
               espn_s2 = 'AEBvIL4Dlefi3KlVW0JH87iCDbcx0707HaHAXb8P3MgYzjwJWCk1xxdv5Jx7tR0CBOFRNPNOwgz1%2BwcsidB7tbVivNai4urRBeT%2FzXT59InIGYVeI8KHVfwy1eHZmQy%2FS5MDXM8caPu0seOzHhRF7PpYibmzCnmRCN4OBxBDrUEioqe%2BJsL93wEsl6ElDWE8Ff8laLi4MLZUbN6gQ1jFiCYdqwbmAOfCPIK%2Fe%2FnVRRdIoI5jpK82fUujjmoDqqkDj%2BTRTERwvpxvTx49B%2F3FKZCj9GzKr3N8dh46X%2FUermxajA%3D%3D')
league22 = League(league_id=55646, year=2022, swid = '{8F5C0C75-0EC6-4CD4-9C0C-750EC64CD455}',
               espn_s2 = 'AEBvIL4Dlefi3KlVW0JH87iCDbcx0707HaHAXb8P3MgYzjwJWCk1xxdv5Jx7tR0CBOFRNPNOwgz1%2BwcsidB7tbVivNai4urRBeT%2FzXT59InIGYVeI8KHVfwy1eHZmQy%2FS5MDXM8caPu0seOzHhRF7PpYibmzCnmRCN4OBxBDrUEioqe%2BJsL93wEsl6ElDWE8Ff8laLi4MLZUbN6gQ1jFiCYdqwbmAOfCPIK%2Fe%2FnVRRdIoI5jpK82fUujjmoDqqkDj%2BTRTERwvpxvTx49B%2F3FKZCj9GzKr3N8dh46X%2FUermxajA%3D%3D')

league21 = League(league_id=55646, year=2021, swid = '{8F5C0C75-0EC6-4CD4-9C0C-750EC64CD455}',
               espn_s2 = 'AEBvIL4Dlefi3KlVW0JH87iCDbcx0707HaHAXb8P3MgYzjwJWCk1xxdv5Jx7tR0CBOFRNPNOwgz1%2BwcsidB7tbVivNai4urRBeT%2FzXT59InIGYVeI8KHVfwy1eHZmQy%2FS5MDXM8caPu0seOzHhRF7PpYibmzCnmRCN4OBxBDrUEioqe%2BJsL93wEsl6ElDWE8Ff8laLi4MLZUbN6gQ1jFiCYdqwbmAOfCPIK%2Fe%2FnVRRdIoI5jpK82fUujjmoDqqkDj%2BTRTERwvpxvTx49B%2F3FKZCj9GzKr3N8dh46X%2FUermxajA%3D%3D')

league17 = League(league_id=55646, year=2017, swid = '{8F5C0C75-0EC6-4CD4-9C0C-750EC64CD455}',
               espn_s2 = 'AEBvIL4Dlefi3KlVW0JH87iCDbcx0707HaHAXb8P3MgYzjwJWCk1xxdv5Jx7tR0CBOFRNPNOwgz1%2BwcsidB7tbVivNai4urRBeT%2FzXT59InIGYVeI8KHVfwy1eHZmQy%2FS5MDXM8caPu0seOzHhRF7PpYibmzCnmRCN4OBxBDrUEioqe%2BJsL93wEsl6ElDWE8Ff8laLi4MLZUbN6gQ1jFiCYdqwbmAOfCPIK%2Fe%2FnVRRdIoI5jpK82fUujjmoDqqkDj%2BTRTERwvpxvTx49B%2F3FKZCj9GzKr3N8dh46X%2FUermxajA%3D%3D')

## Use espn_api to get the free agent and player list from the data

In [2]:
fa_list = (league.free_agents(size = 600))
rostered_list = []
rostered_list = rostered_list + league.get_team_data(1).roster + league.get_team_data(2).roster + league.get_team_data(3).roster + league.get_team_data(4).roster + league.get_team_data(5).roster + league.get_team_data(6).roster + league.get_team_data(7).roster + league.get_team_data(9).roster + league.get_team_data(10).roster + league.get_team_data(11).roster

players_list = fa_list + rostered_list
num_positions = []
names = []
ids = []
pos = []
for player in players_list:
    elig = player.eligibleSlots
    clean_elig = [val for val in elig if val not in ['BE', 'IL', 'UTIL', 'IF', 'OF', 'P']]
    names.append(player.name)
    ids.append(player.playerId)
    storable_name = '-'.join(clean_elig)
    pos.append(storable_name)
    num_positions.append(len(clean_elig))

pre_draft_rankings = get_draft_strategy(2022)

In [3]:
pre_draft_rankings

           id  pre_draft_ranking
0       39832                  1
1       36969                  2
2       32081                  3
3       32801                  4
4       39878                  5
...       ...                ...
2995    41708               3905
2996    42543               3906
2997  4905919               3909
2998    39927               3910
2999  4684430               3912

[3000 rows x 2 columns]

## Turn the scraped data into data frames

In [4]:
names_df = pd.DataFrame(names)
id_df = pd.DataFrame(ids)
pos_df = pd.DataFrame(pos)
position_df = pd.concat([names_df, id_df, pos_df], axis = 1)
position_df.columns = ['name', 'PlayerId', 'position']
position_df_final = pd.merge(position_df, pre_draft_rankings, left_on = 'PlayerId', right_on='id', how = 'left')

## Read in maps and projections

In [5]:
idmap = pd.read_csv('id_map.csv')
batc = pd.read_csv('batc_pr.csv')
batc2 = pd.read_csv('bat_atc_23.csv')

patc = pd.read_csv('patc_pr.csv')
idmap.columns

Index(['IDPLAYER', 'PLAYERNAME', 'BIRTHDATE', 'FIRSTNAME', 'LASTNAME', 'TEAM',
       'LG', 'POS', 'IDFANGRAPHS', 'FANGRAPHSNAME', 'MLBID', 'MLBNAME',
       'CBSID', 'CBSNAME', 'RETROID', 'BREFID', 'NFBCID', 'NFBCNAME', 'ESPNID',
       'ESPNNAME', 'KFFLNAME', 'DAVENPORTID', 'BPID', 'YAHOOID', 'YAHOONAME',
       'MSTRBLLNAME', 'BATS', 'THROWS', 'FANTPROSNAME', 'LASTCOMMAFIRST',
       'ROTOWIREID', 'FANDUELNAME', 'FANDUELID', 'DRAFTKINGSNAME', 'OTTONEUID',
       'HQID', 'RAZZBALLNAME', 'FANTRAXID', 'FANTRAXNAME', 'ROTOWIRENAME',
       'ALLPOS', 'NFBCLASTFIRST', 'ACTIVE', 'UNDERDOG'],
      dtype='object')

## Do final merging

In [25]:
batter1 = pd.merge(batc, idmap[['ESPNID', 'ESPNNAME', 'IDFANGRAPHS', 'FANTPROSNAME']], left_on='PlayerId', right_on='IDFANGRAPHS', how = 'inner')
batter = pd.merge(batter1, position_df_final, left_on='ESPNNAME', right_on='name', how = 'left').drop_duplicates('IDFANGRAPHS', keep = 'first')

pitcher1 = pd.merge(patc, idmap[['ESPNID', 'ESPNNAME', 'IDFANGRAPHS', 'FANTPROSNAME']], left_on='PlayerId', right_on='IDFANGRAPHS', how = 'inner')
pitcher = pd.merge(pitcher1, position_df_final, left_on='ESPNNAME', right_on='name', how = 'left').drop_duplicates('IDFANGRAPHS', keep = 'first')

ovr = pd.concat([batter.reset_index(drop = True), pitcher.reset_index(drop = True)], ignore_index = True)
# Change ohtani's pr to be the sum of his two positions
# change his pitcher columns to be the pitcher options
shohei_sp = (ovr.loc[(ovr['name'] == 'Shohei Ohtani') & ovr['SO'] > 0]).iloc[:, 17:]
shohei_dh = (ovr.loc[(ovr['Name'] == 'Shohei Ohtani') & (ovr['HR'] > 0)]).iloc[:, 1:17]
shohei_comb = pd.concat([shohei_dh.reset_index(drop = True), shohei_sp.reset_index(drop = True)], axis = 1)
shohei_comb.loc[0, 'pr'] = sum(ovr.loc[(ovr['Name'] == 'Shohei Ohtani'), 'pr'])

ovr_temp = pd.concat([shohei_comb.reset_index(drop = True), ovr.reset_index(drop = True)])
ovr_sorted = ovr_temp.sort_values("pr", ascending = False).drop_duplicates('IDFANGRAPHS', keep = 'first').reset_index(drop = True)
#ovr_sorted = ovr_sorted.loc[~ovr_sorted.PlayerId.isin(off_limits)]
ovr_sorted.to_csv('final_cleaned_data.csv')

In [26]:
ovr_sorted

,Name,Team,PlayerId_x,AB,wAVG,wOPS,AVG,OPS,R,HR,...,id,pre_draft_ranking,IP,SO,QS,ERA,WHIP,SVHD,pos,Unnamed: 0
0,Shohei Ohtani,LAA,19755,526.0,1.434376,1.793734,0.577232,2.259520,1.775586,2.285915,...,39832.0,1.0,1.222446,2.204234,1.6067,1.488937,1.953358,-0.825896,SP,NaN
1,Aaron Judge,NYY,15640,545.0,1.796284,2.223544,1.747024,3.681584,2.526078,3.480875,...,33192.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,Yordan Alvarez,HOU,19556,526.0,1.717344,2.072656,1.907452,3.570742,2.006507,2.817008,...,36018.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,Vladimir Guerrero Jr.,TOR,19611,582.0,2.078914,2.219299,2.012332,2.610219,2.064237,2.418688,...,35002.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
4,Mike Trout,LAA,10155,514.0,1.434939,1.940022,0.896172,3.316895,2.179697,3.082555,...,30836.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,Jorge Mateo,BAL,17273,331.0,0.127111,0.064909,-1.208831,-1.732519,-1.110920,-1.166193,...,33832.0,501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.0
590,Nick Maton,DET,21635,316.0,0.004781,0.033376,-1.607881,-1.449790,-1.399571,-1.166193,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,295.0
591,Jacob Stallings,PIT,13723,348.0,0.225283,0.112901,-1.085711,-1.936413,-1.572761,-1.431739,...,34089.0,329.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,298.0
592,Nick Allen,OAK,22277,390.0,0.405701,0.212386,-1.221422,-2.484931,-1.284110,-1.564513,...,40338.0,1293.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.0
593,MartÃ­n Maldonado,HOU,6887,330.0,-0.111575,-0.018681,-2.961678,-2.325072,-1.399571,-0.635099,...,30289.0,365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.0

In [11]:
(ovr.loc[(ovr['Name'] == 'Shohei Ohtani') & (ovr['position'] == 'SP')])

Empty DataFrame
Columns: [Unnamed: 0, Name, Team, PlayerId_x, AB, wAVG, wOPS, AVG, OPS, R, HR, RBI, RC, pr, rank, ESPNID, ESPNNAME, IDFANGRAPHS, FANTPROSNAME, name, PlayerId_y, position, id, pre_draft_ranking, IP, SO, QS, ERA, WHIP, SVHD, pos]
Index: []

[0 rows x 31 columns]